doctype html
html
    head
        title #{pageTitle}
        link(href="node_modules/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="test/test.css", rel="stylesheet")
        link(href="node_modules/font-awesome/css/font-awesome.min.css", rel="stylesheet")
        link(href="node_modules/kendo-ui-core/css/web/kendo.common.core.min.css", rel="stylesheet")
        link(href="node_modules/kendo-ui-core/css/web/kendo.default.min.css", rel="stylesheet")
    body
        div(class="container")
            h1 #{pageTitle}
            table(class="table table-striped")
                tr
                    th Class
                    th Kendo Icon
                    th Font-Awesome Icon
                each c in classes
                    tr
                        td #{c}
                        td
                            span(class=c + " k-icon")
                        td(class="font-awesome")
                            span(class=c + " fa-icon")
        script(src="node_modules/jquery/dist/jquery.min.js")
        script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")